@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600");

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --text-color: #222;
  --primary-color: #ff9902;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #777;
  font-family: "Poppins", "Open Sans", sans-serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.btn {
  padding: 15px 30px;
  border: none;
  text-transform: uppercase;
  border-radius: 3px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}
.btn-secondary {
  background-color: var(--text-color);
  color: #fff;
}

h1 {
  color: var(--text-color);
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 600;
}

h4 {
  font-weight: bolder;
  font-size: 18px;
  color: #222;
  padding-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.grid-4 {
  grid-template-columns: 2fr 2fr 2fr 1fr !important;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.align-self-center {
  align-self: center;
}

.section-padding {
  padding-top: 140px;
}

.card {
  width: 350px;
  height: 250px;
  background-color: #f9f9f9;
  padding: 40px;
}

.card:hover{
  box-shadow: 3px 3px 18px #ccc;
  background-color: #fff;
  border-radius: 3px;
 
}

.card-2{
  width: 250px;
  height: 150px;
  background-color: #f9f9f9;  
}
/* color */

.color-primary {
  background-color: var(--primary-color);
}

/* Margin & Padding */
.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Navbar */
.navbar {
  padding: 30px 0;
}

.navbar .flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.navbar .list {
  display: flex;
  list-style: none;
  margin-left: 4.6rem;
}

.navbar .list li,
.navbar ul li {
  padding: 15px;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}

.navbar .list li a,
.navbar ul li a {
  font-family: "Poppins";
  text-decoration: none;
  color: #222;
  margin: 0 3px;
}

.navbar .sign-up ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

/* showcase */
.showcase .heading {
  padding: 0 47% 0 5%;
  align-self: center;
}

.showcase .banner-bg {
  width: 100%;
  height: 640px;
  background: url("./images/banner-bg.jpg") no-repeat center center/cover;
}

.showcase .job-color {
  color: #ff9902;
}

.showcase .heading h1 {
  line-height: 1.2;
}

.showcase .heading p {
  font-weight: 200;
  font-size: 1rem;
  line-height: 1.5;
}

.showcase a,
.feature-area a {
  color: #222;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.showcase a:hover,
.feature-area a:hover {
  cursor: pointer;
  color: #ff9902;
}

/* Search area */
.search-area {
  margin-top: -50px;
  position: relative;
}

.search-area .p-40 {
  padding: 40px;
}

.search-area input {
  width: 270px;
  height: 60px;
  border: none;
  padding: 0 20px;
  font-size: 16px;
  border-radius: 3px;
  outline: none;
  font-family: "Open Sans";
}

/* feature-area section */
.feature-area p {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 16px;
  font-family: "Open Sans";
}
